body
{
    background-color: #1A1B20
}
.antoine
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.2em;
    font-weight: 600;    
    margin-bottom: 8px;
}
.dates
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    color:white;
    margin-bottom: 2px;
}
.descrip
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:white;
    margin: auto;
    padding-left: 16px;
    margin-top: 4px;
}
.titre
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color:white;
    margin-top: 2px;
    margin-bottom: 4px;
}

.logo
{
    max-width: 220px;
    height: auto;
}
.bandeau {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.present
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:white;
    margin: auto;
}
.table
{
    display: flex;
}
.reseaux
{
    display: flex;
}
.reseau
{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(197, 197, 197);
    margin-right: 10px;
}
a:link
{
    
    text-decoration: none;
}
a:visited
{
    color: white;
}
a:hover
{
    color: rgb(219, 219, 219);
    text-decoration: underline;
}

.corps
{
    display: flex;
    flex-direction: column;
    margin-right: 30px;

}
.nomsite
{
    color:white;
    /* Nimbus Mono PS; Source Code Pro Black*/
    font-weight: 700;
    font-size: 3.5em;
    margin-left: 52px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.onglets
{
    display: flex;
    flex-direction: column;
}
.onglet
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 12px;
    padding-left: 6px;
}
.onglet:hover
{
    border-left: 2px white solid;
}
.ongletactuel
{
    font-weight: 600;
    border-left: 2px white solid;
    padding-left: 6px
}

.bordure
{
    border: 1px white solid;
}
.titrimage
{
    display:flex;
    margin-top:16px;
}
.macaron
{
    max-width: 50px;
    height: 50px;
    padding: 16px;
}
.titredate
{
    display: flex;
    flex-direction: column;
}
.portfolio
{
    margin-left: 30px;
}