body
{
    background-color: #181825
}
.antoine
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.2em;
    font-weight: 600;    
    margin-bottom: 8px;
}
.dates
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    color:white;
    margin-bottom: 2px;
}
.descrip
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:white;
    margin: auto;
    padding-left: 16px;
    margin-top: 4px;
}
.titre
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color:white;
    margin-top: 2px;
    margin-bottom: 4px;
}

.logo
{
    max-height: 220px;
    width: 220px;
}
.marque
{
    height: 130px;
    width: 440px;
    margin-left: 30px;
    padding-left: 0px;
    padding-top: 46px;
    margin-bottom: 24px;
}
.bandeau {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 220px;
}
.present
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:white;
    margin: auto;
}
.table
{
    display: flex;
    justify-content: center;
    height: 100%;
    padding-left: 100px;
    margin-left: 100px;
    padding-right: 100px;
    margin-right: 100px;
    margin-top: 30px;
}
.reseaux
{
    display: flex;
}
.reseau
{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(197, 197, 197);
    margin-right: 10px;
}
a:link
{
    
    text-decoration: none;
}
a:visited
{
    color: white;
}
a:hover
{
    color: rgb(219, 219, 219);
    text-decoration: underline;
}

.corps
{
    display: flex;
    flex-direction: column;
    
}
.nomsite
{
    color:white;
    /* Nimbus Mono PS; Source Code Pro Black*/
    font-weight: 700;
    font-size: 3.5em;
    margin-left: 52px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.onglets
{
    display: flex;
    flex-direction: column;
}
.onglet
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 12px;
}
.onglet:hover
{
    border-left: 2px white solid;
    padding-left: 6px;
}
.ongletactuel
{
    font-weight: 600;
    border-left: 2px white solid;
    padding-left: 6px;
    color: white;
    margin-top: 0px;
    margin-bottom: 12px;
    font-family: Arial, Helvetica, sans-serif;

}

.bordure
{
    border: 1px white solid;
}
.titrimage
{
    display:flex;
    margin-top:16px;
}
.macaron
{
    max-width: 50px;
    height: 50px;
    padding: 16px;
}
.titredate
{
    display: flex;
    flex-direction: column;
}
.portfolio
{
    margin-left: 30px;
}
.services
{
    margin-left: 30px;
    padding-top: 16px;
    margin-top: 20px;
}
.nomservice
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color:white;
    margin-top: 2px;
    margin-bottom: 8px;
    margin-left: 16px;
}
.descripservice
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:white;
    margin: auto;
    padding-left: 16px;
    margin-bottom: 8px;
}
.descripservicefin
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:white;
    margin: auto;
    padding-left: 16px;
    margin-bottom: 32px;
}
.typeservice
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color:white;
    margin-top: 2px;
    margin-bottom: 8px;
    margin-left: 16px;
    font-size: 1.4em;
}
.langues
{
display: flex;
padding-left: 25px;
padding-right: 25px;
padding-top: 10px;
}
.drapeau
{
width: 30px;
height: 18px;
margin-right: 20px;
}
.pdf
{
    width: 15px;
    height: 30px;
    margin-left: 15px;
    margin-top: 8px;
}
.lienicone
{
    display: flex;
}
.download
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:white;
    margin-bottom: 32px;
    margin-left: 6px;
}